global
	log 127.0.0.1 local0 info
	maxconn {{ _haproxy.global_max_connections }}
	user {{ _haproxy.user }}
	group {{ _haproxy.group }}
	daemon
	# nbproc 1
	# chroot /usr/local/haproxy
	# pidfile /var/run/haproxy.pid

defaults
	log global
	mode tcp
	option tcplog
	option dontlognull
	option redispatch
	retries 3
	maxconn {{ _haproxy.defaults_max_connections }}
	timeout connect 10s
	timeout client 60s
	timeout server 60s


listen  admin-stats
	mode http
	option httplog
	bind *:{{ _haproxy.stats_port }}
	stats enable
	stats refresh 30s
	stats uri /haproxy?stats
        stats realm MinIO HAProxy\ Statistics  # Title Text for PopUp Window
        stats show-node
        stats show-legends
        stats show-desc MinIO Load Balancer Stats ( Master )
	stats auth {{ _haproxy.stats_user }}:{{ _haproxy.stats_pass }}


frontend minio_service
    bind *:9000
    mode tcp
    option tcplog
    default_backend minio_servce_backend


backend minio_servce_backend
    option httpchk GET /healthz
    http-check expect status 200
    mode tcp
    option ssl-hello-chk
    balance     leastconn
{% for h in groups['workers'] %}
        server {{ h }} {{ hostvars[h][_netdev]['ipv4']['address'] }}:9000 check
{% endfor %}


frontend minio_console
    bind *:80
    mode tcp
    option tcplog
    default_backend minio_console_backend


backend minio_console_backend
    option httpchk GET /healthz
    http-check expect status 200
    mode tcp
    option ssl-hello-chk
    balance     leastconn
{% for h in groups['workers'] %}
        server {{ h }} {{ hostvars[h][_netdev]['ipv4']['address'] }}:9001 check
{% endfor %}

