global
	log 127.0.0.1 local0 info
	maxconn {{ _haproxy.global_max_connections }}
	user {{ _haproxy.user }}
	group {{ _haproxy.group }}
	daemon
	# nbproc 1
	# chroot /usr/local/haproxy
	# pidfile /var/run/haproxy.pid


defaults
	log global
	mode tcp
	option tcplog
	option dontlognull
	option redispatch
	retries 3
	maxconn {{ _haproxy.defaults_max_connections }}
	timeout connect 10s
	timeout client 60s
	timeout server 60s


listen  admin-stats
	mode http
	option httplog
	bind *:{{ _haproxy.stats_port }}
	stats enable
	stats refresh 30s
	stats uri /haproxy?stats
        stats realm MinIO HAProxy\ Statistics  # Title Text for PopUp Window
        stats show-node
        stats show-legends
        stats show-desc MinIO Load Balancer Stats ( Master )
	stats auth {{ _haproxy.stats_user }}:{{ _haproxy.stats_pass }}


frontend http_service
    bind *:80
    mode http
    redirect scheme https code 301 if !{ ssl_fc }


frontend minio-service
    bind *:{{ _haproxy.minio.api_frontend_port }}
    mode tcp
    option tcplog
    default_backend minio-servce-backend


backend minio-servce-backend
    option httpchk GET /healthz
    http-check expect status 200
    mode tcp
    option ssl-hello-chk
    balance     leastconn
{% for h in groups['workers'] %}
    server {{ h }} {{ hostvars[h][_netdev]['ipv4']['address'] }}:{{ _haproxy.minio.api_backend_port }} check
{% endfor %}


frontend minio-console
    bind *:{{ _haproxy.minio.console_frontend_port }}
    mode tcp
    option tcplog
    default_backend minio-console-backend


backend minio-console-backend
    option httpchk GET /healthz
    http-check expect status 200
    mode tcp
    option ssl-hello-chk
    balance     leastconn
{% for h in groups['workers'] %}
    server {{ h }} {{ hostvars[h][_netdev]['ipv4']['address'] }}:{{ _haproxy.minio.console_backend_port }} check
{% endfor %}


