global
	log 127.0.0.1 local0 info
	maxconn {{ _haproxy.global_max_connections }}
	user {{ _haproxy.user }}
	group {{ _haproxy.group }}
	daemon
	# nbproc 1
	# chroot /usr/local/haproxy
	# pidfile /var/run/haproxy.pid

defaults
	log global
	mode tcp
	option tcplog
	option dontlognull
	option redispatch
	retries 3
	maxconn {{ _haproxy.defaults_max_connections }}
	timeout connect 10s
	timeout client 60s
	timeout server 60s


listen  admin-stats
	mode http
	option httplog
	bind *:{{ _haproxy.stats_port }}
	stats enable
	stats refresh 30s
	stats uri /haproxy?stats
        stats realm MinIO HAProxy\ Statistics  # Title Text for PopUp Window
        stats show-node
        stats show-legends
        stats show-desc MinIO Load Balancer Stats ( Master )
	stats auth {{ _haproxy.stats_user }}:{{ _haproxy.stats_pass }}


frontend minio-api
	bind *:{{ _haproxy.frontend_port }}
	# mode tcp
	default_backend minio-backend


backend minio-backend
    balance roundrobin
    option httpchk GET /minio/health/live
{% for h in groups['workers'] %}
    server {{ h }} {{ h }}.{{ _minio.domain }}:9000 check ssl verify none
{% endfor %}


frontend minio-console
    bind *:9001
    default_backend console-backend


backend console-backend
    balance roundrobin
{% for h in groups['workers'] %}
    server {{ h }} {{ h }}.{{ _minio.domain }}:9001 check ssl verify none
{% endfor %}

