# Local Export Path.
MINIO_VOLUMES="{{ _minio.volumes | map(attribute='dir') | join(' ') }}"

# Use if you want to run Minio on a custom port.
# Added by jmoon : --console-address has been added to fix static port since automatic port would be asssigned in case not using it.
MINIO_OPTS="--address {{ _minio.listen_address }}:{{ _minio.api_port }} --console-address {{ _minio.listen_address }}:{{ _minio.console_port }}"
MINIO_ACCESS_KEY={{ _minio.access_key }}
MINIO_SECRET_KEY={{ _minio.secret_key }}
MINIO_ROOT_USER={{ _minio.root_user }}
MINIO_ROOT_PASSWORD={{ _minio.root_password }}

