upstream minio_api {
    least_conn;
    server {{ inventory_hostname }}.{{ _minio.domain }}:9000;
}

upstream minio_console {
    least_conn;
    server {{ inventory_hostname }}.{{ _minio.domain }}:9001;
}

{% if _nginx.ssl.enable == true %}
server {

    listen {{ _nginx.http_port }};
    listen  [::]:{{ _nginx.http_port }};
    server_name {{ ansible_fqdn }};

    # Redirect all HTTP requests to HTTPS
    return 301 https://$host$request_uri;

}
{% endif %}

server {

{% if _nginx.ssl.enable == true %}
    listen       {{ _nginx.https_port }} ssl;
    listen  [::]:{{ _nginx.https_port }} ssl;
{% else %}
    listen       {{ _nginx.http_port }};
    listen  [::]:{{ _nginx.http_port }};
{% endif %}
    server_name  {{ inventory_hostname }}.{{ _minio.domain }};

{% if _nginx.ssl.enable == true %}
    ssl_certificate     {{ _nginx.ssl.dir }}/public.crt;
    ssl_certificate_key {{ _nginx.ssl.dir }}/private.key;
{% endif %}

    # Allow special characters in headers
    ignore_invalid_headers off;
    # Allow any size file to be uploaded.
    # Set to a value such as 1000m; to restrict file size to a specific value
    client_max_body_size 0;
    # Disable buffering
    proxy_buffering off;
    proxy_request_buffering off;

    location / {

        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

{% if _minio.ssl == true %}
        proxy_ssl_verify off;  # Disable SSL cert verification
        proxy_ssl_server_name on;
{% endif %}

        proxy_connect_timeout 300;
        # Default is HTTP/1, keepalive is only enabled in HTTP/1.1
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        chunked_transfer_encoding off;

        # This uses the upstream directive definition to load balance
{% if _minio.ssl == true %}
        proxy_pass https://minio_api;
{% else %}
        proxy_pass http://minio_api;
{% endif %}

    }

    location /console/ {

{% if _minio.ssl == true %}
        proxy_pass https://minio_console/;
{% else %}
        proxy_pass http://minio_console/;
{% endif %}

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        # proxy_set_header X-Forwarded-Proto $scheme;

{% if _minio.ssl == true %}
        proxy_ssl_verify off;  # Disable SSL cert verification
        proxy_ssl_server_name on;
{% endif %}

{% if _minio.ssl == true %}
        proxy_redirect https://127.0.0.1:9001/ /console/;
        proxy_redirect https://minio_console/ /console/;
{% else %}
        proxy_redirect http://127.0.0.1:9001/ /console/;
        proxy_redirect http://minio_console/ /console/;
{% endif %}

        proxy_hide_header X-Powered-By;
        proxy_hide_header Server;
        server_tokens off;

        # Required for static assets (JS/CSS) to resolve correctly
        sub_filter_types text/html text/css text/javascript application/javascript;
        sub_filter_once off;
        sub_filter 'href="/'  'href="/console/';
        sub_filter 'src="/'   'src="/console/';
        sub_filter 'action="/' 'action="/console/';

    }

}

